@font-face {
    font-family: "DuneRise";
    src: url('fonts/Dune_Rise.ttf')format("truetype")   
}

body {
    font-family: "DuneRise", sans-serif;
}
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    background-image: url('images/fundo.png');
    background-repeat: no-repeat;
    background-position: bottom;
    
}

.columns {
    display: flex
}
.visor {
    display: flex;
    height: 150px;
    width: 265px;
    align-items: center;
    flex: 1 0 auto;
    white-space: nowrap;
    padding-bottom: 20px;
    overflow:hidden;
    justify-content: right;
    padding-right: 15px;
   
}

.visorcontent, p{
    flex-grow: 1 1 0;
    font-size: 19px;
}

.memory, p{
    flex-grow: 1 1 0;
    
    
}

.coluna2, .coluna1, .coluna3, .coluna4 {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 330px;
    padding-bottom: 3px;
}

button {
    flex: 1 1 0;
    border: 0;
    background-color: transparent;
    font-size: 20px;
    color: black;
    font-family: "DuneRise", sans-serif;
}

button:hover {
    background-color: #e1a346;
}

    #delete {
        background-image: url('images/delete-315.png');
        background-size: 37% 40%;
        background-position: center;
        background-repeat: no-repeat;
    
    }

    #divisao{

        font-size:30px
            }

    #adicao {

        font-size:30px;
            }

    #subtracao {

        font-size:30px;
            }

    #multiplicacao {

        font-size:20px;
            }
    #resultado {

        font-size:30px;
            }



.simbolo {
    padding: 0;
    flex-shrink: 0;
    background-size: 30% 31%;
    background-repeat: no-repeat;
    background-position: center;
}